<a href="https://colab.research.google.com/github/Mintu-Vipin/NPowerCanada/blob/main/C4W1_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Articulate
#Python Bascis

In [5]:
# Retrieving the character using index value

name = "tom"

print(name[0])

print(name[1])

t
o

In [6]:
# Concatination

s="tom and "+"jerry"
print(s)

tom and jerry

In [7]:
# Printing the values multiple times

t = "Spamming is bad\n" *3
print(t)

Spamming is bad
Spamming is bad
Spamming is bad

In [ ]:
# Slicing the string

s = "Welcome"
print(s[1:3])

el

In [8]:
# Slicing the string

a = "Incomprehensibility"

print(a[0:8])

print(a[1:5])

print(a[2:6])

a[-1:3]

Incompre
ncom
comp

''

In [ ]:
# Testing

a = "Trichotillomania"
print(a)

print(a.isalnum())
print(a.isalpha())
print(a.isdigit())
print(a.isidentifier())
print(a.islower())
print(a.isupper())
print(a.isspace())

Trichotillomania
True
True
False
True
False
False
False

In [ ]:
# Searching

b = "Tergiversation"
print(b)

print(b.endswith('on'))
print(b.startswith('te'))
print(b.count('i'))
print(b.find('i'))
print(b.rfind('i'))

Tergiversation
True
False
2
4
11

In [ ]:
# Converting

c = "Xenotransplantation"
print(c)

print(c.capitalize())
print(c.lower())
print(c.upper())
print(c.title())
print(c.swapcase())
print(c.replace('X', 'Y'))

Xenotransplantation
Xenotransplantation
xenotransplantation
XENOTRANSPLANTATION
Xenotransplantation
xENOTRANSPLANTATION
Yenotransplantation

In [ ]:
POPSTAR = "DIZZY DRAKE"

In [ ]:
# Assuming positive index numbers, what are the index numbers of the letters Y and E?
print(f"1. ", POPSTAR.find('Y'))
print(f"   ",POPSTAR.find('E'))

# What is the result of the input POPSTAR[3] ?
print(f"2. ", POPSTAR[3] )


# What input returns the result “K” ?
print(f"3. ", POPSTAR[9] )


# What is the result of the input POPSTAR[0:6] ?
print(f"4. ", POPSTAR[0:6] )


# What input returns the result “DRAKE” ?
print(f"5. ", POPSTAR[6:11] )

1.  4
    10
2.  Z
3.  K
4.  DIZZY
5.  DRAKE

In [ ]:
# Now, for the same string, assuming negative index numbers:

# What are the index numbers of the letter Y and I?
print(f"1. ", POPSTAR.find('Y'))
print(f"   ", POPSTAR.find('I'))

# What is the result of the input POPSTAR[-4]?
print(f"2. ", POPSTAR[-4])

# What input returns the result 'A'?
print(f"3. ", POPSTAR.find('A'))

# What input returns the result "RAKE"?
print(f"4. ", POPSTAR.find('RAKE'))

1.  4
    1
2.  R
3.  8
4.  7

In [ ]:
SUCCESS = "MAMBA MENTALITY"

# Assuming positive index numbers, what is the result of the input SUCCESS[::2] ?
print(f"1. ", SUCCESS[::2])

# What is the result of the input SUCCESS[0:10:2] ?
print(f"2. ", SUCCESS[0:10:2])

# What is the result of the input SUCCESS[2:5:2] ?
print(f"3. ", SUCCESS[2:5:2])

# What input returns the result “ NL” ? (*notice the space)
print(f"4. ", SUCCESS[5:12:3])

# What input returns the result “A TT” ? (*notice the space)
print(f"5. ", SUCCESS[1:14:4])

1.  MMAMNAIY
2.  MMAMN
3.  MA
4.   NL
5.  A TT

In [ ]:
BOOK= "HARRY POTTER"
COMMENT= "IS A BESTSELLER"

# If we want to create a new string that reads, “HARRY POTTER
# IS A BESTSELLER” what input would we use?

print(f"1.  " + BOOK + " " + COMMENT)


# If we want to create a new string that reads, “HARRY POTTER IS A BESTSELLER AND J.K ROWLING IS A GENIUS” what input would we use?
print(f"2.  " + BOOK + " " + COMMENT + " AND J.K ROWLING IS A GENIUS")

1.  HARRY POTTER IS A BESTSELLER
2.  HARRY POTTER IS A BESTSELLER AND J.K ROWLING IS A GENIUS

In [ ]:
Siblings = "Middle children have it the worst"

# Convert the string to upper case letters and store it in a new variable called Siblings2
Siblings2 = Siblings.upper()
print(Siblings2)

# Replace the word ‘worst’ with ‘best’ and store the new string in the variable Siblings3
Siblings3 = Siblings.replace('best','worse')
print(Siblings3)

MIDDLE CHILDREN HAVE IT THE WORST
Middle children have it the worst

In [ ]:
truth= 'We can do anything we set our minds to'

# Assuming positive index numbers, what is the result of the input truth.find(‘can’) ? What does this result mean?
print(truth.find('can') )

# What is the result of the input truth.find(‘minds’) ?
print(truth.find('minds') )

# What is the result of the input truth.find(‘believe’) ?
print(truth.find('believe') )

3
30
-1

In [ ]:
# What inputs would you run to print each of the following?

# JENNIFER LOPEZ
# IS AN AWESOME DANCER!
print(f"JENNIFER LOPEZ\nIS AN AWESOME DANCER!")


# colour ---> purple
print(f"colour ---> purple")


# The backslash \ is so cool
print(f"The backslash \ is so cool")

JENNIFER LOPEZ
IS AN AWESOME DANCER!
colour ---> purple
The backslash \ is so cool

# Variables and Expressions

In [4]:
message = "What's up, Doc?"
n = 17
pi = 3.14159

print(message)
print(n)
print(pi)

print(type(message))
print(type(n))
print(type(pi))

What's up, Doc?
17
3.14159
<class 'str'>
<class 'int'>
<class 'float'>

In [21]:
# Do the following operations

 a = 7
 b = 5


print(a+b)
print(2*a/3)
print(5*b//2)
print(a*2*b)

12
4.666666666666667
12
70

In [26]:
# Order of operations(Operators with the same precedence are evaluated from left to right)

# Parentheses -----> Exponentiation ------>  Multiplication and Division ----->  Addition and Subtraction



print((8-5)*4-5)
print(56/8*7-5)
print(15-(3+2)/5)
print(7*5//6)

7
44.0
14.0
5



# *Exercise*

# Python Basics NoteBook

In [30]:
#Write a Python code to return your Python version


sys.version

'3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]'

In [38]:
#Write a Python code to declare variable id="513".
id = "513"

#Print the following statement "customer id =513". [Don't use print("customer id =513")]
print("customer id = "+id)

customer id = 513

In [35]:
#Run the following statement, why there is an error(Ans: Here we are trying to add an integer (1) to a string (id). In Python, you cannot directly add a number to a string using the + operator. )
''
# id=id+1

In [40]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
new_id = int(id)+1

#Print the new_id
print(new_id)

514

In [50]:
#Write a Python code to print the following string in a specific format (see the output).

# Twinkle, twinkle, little star,
#     How I wonder what you are!
#        Up above the world so high,
#            Like a diamond in the sky.


print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky.")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
			Like a diamond in the sky.

In [52]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [53]:
# Print the element on the 13th index in the string

print(course[12])

a

In [54]:
# Find the length of string

len(course)

23

In [55]:
# Print the last element in the string [use negative index]

course[-1]

'e'

In [56]:
# Take the slice on variable course with only index 11 to index 14

course[11:15]

'Data'

In [57]:
# Get every third element in the range from index 0 to index 20

course[0:20:3]

'Ph ra i'

In [58]:
# Concatenate course string with ", AI & Development"

print(course+", AI & Development")

Python for Data Science, AI & Development

In [59]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"

course = course+", AI & Development"
print(course.replace(" ", "_"))

Python_for_Data_Science,_AI_&_Development

In [60]:
# Convert all the characters in string to upper case

print(course.upper())

PYTHON FOR DATA SCIENCE, AI & DEVELOPMENT