<a href="https://colab.research.google.com/github/Mintu-Vipin/NPowerCanada/blob/main/C4W1_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Articulate
#Python Bascis

In [5]:
# Retrieving the character using index value

name = "tom"

print(name[0])

print(name[1])

t
o

In [6]:
# Concatination

s="tom and "+"jerry"
print(s)

tom and jerry

In [7]:
# Printing the values multiple times

t = "Spamming is bad\n" *3
print(t)

Spamming is bad
Spamming is bad
Spamming is bad

In [ ]:
# Slicing the string

s = "Welcome"
print(s[1:3])

el

In [8]:
# Slicing the string

a = "Incomprehensibility"

print(a[0:8])

print(a[1:5])

print(a[2:6])

a[-1:3]

Incompre
ncom
comp

''

In [ ]:
# Testing

a = "Trichotillomania"
print(a)

print(a.isalnum())
print(a.isalpha())
print(a.isdigit())
print(a.isidentifier())
print(a.islower())
print(a.isupper())
print(a.isspace())

Trichotillomania
True
True
False
True
False
False
False

In [ ]:
# Searching

b = "Tergiversation"
print(b)

print(b.endswith('on'))
print(b.startswith('te'))
print(b.count('i'))
print(b.find('i'))
print(b.rfind('i'))

Tergiversation
True
False
2
4
11

In [ ]:
# Converting

c = "Xenotransplantation"
print(c)

print(c.capitalize())
print(c.lower())
print(c.upper())
print(c.title())
print(c.swapcase())
print(c.replace('X', 'Y'))

Xenotransplantation
Xenotransplantation
xenotransplantation
XENOTRANSPLANTATION
Xenotransplantation
xENOTRANSPLANTATION
Yenotransplantation

In [ ]:
POPSTAR = "DIZZY DRAKE"

In [ ]:
# Assuming positive index numbers, what are the index numbers of the letters Y and E?
print(f"1. ", POPSTAR.find('Y'))
print(f"   ",POPSTAR.find('E'))

# What is the result of the input POPSTAR[3] ?
print(f"2. ", POPSTAR[3] )


# What input returns the result “K” ?
print(f"3. ", POPSTAR[9] )


# What is the result of the input POPSTAR[0:6] ?
print(f"4. ", POPSTAR[0:6] )


# What input returns the result “DRAKE” ?
print(f"5. ", POPSTAR[6:11] )

1.  4
    10
2.  Z
3.  K
4.  DIZZY
5.  DRAKE

In [ ]:
# Now, for the same string, assuming negative index numbers:

# What are the index numbers of the letter Y and I?
print(f"1. ", POPSTAR.find('Y'))
print(f"   ", POPSTAR.find('I'))

# What is the result of the input POPSTAR[-4]?
print(f"2. ", POPSTAR[-4])

# What input returns the result 'A'?
print(f"3. ", POPSTAR.find('A'))

# What input returns the result "RAKE"?
print(f"4. ", POPSTAR.find('RAKE'))

1.  4
    1
2.  R
3.  8
4.  7

In [ ]:
SUCCESS = "MAMBA MENTALITY"

# Assuming positive index numbers, what is the result of the input SUCCESS[::2] ?
print(f"1. ", SUCCESS[::2])

# What is the result of the input SUCCESS[0:10:2] ?
print(f"2. ", SUCCESS[0:10:2])

# What is the result of the input SUCCESS[2:5:2] ?
print(f"3. ", SUCCESS[2:5:2])

# What input returns the result “ NL” ? (*notice the space)
print(f"4. ", SUCCESS[5:12:3])

# What input returns the result “A TT” ? (*notice the space)
print(f"5. ", SUCCESS[1:14:4])

1.  MMAMNAIY
2.  MMAMN
3.  MA
4.   NL
5.  A TT

In [ ]:
BOOK= "HARRY POTTER"
COMMENT= "IS A BESTSELLER"

# If we want to create a new string that reads, “HARRY POTTER
# IS A BESTSELLER” what input would we use?

print(f"1.  " + BOOK + " " + COMMENT)


# If we want to create a new string that reads, “HARRY POTTER IS A BESTSELLER AND J.K ROWLING IS A GENIUS” what input would we use?
print(f"2.  " + BOOK + " " + COMMENT + " AND J.K ROWLING IS A GENIUS")

1.  HARRY POTTER IS A BESTSELLER
2.  HARRY POTTER IS A BESTSELLER AND J.K ROWLING IS A GENIUS

In [ ]:
Siblings = "Middle children have it the worst"

# Convert the string to upper case letters and store it in a new variable called Siblings2
Siblings2 = Siblings.upper()
print(Siblings2)

# Replace the word ‘worst’ with ‘best’ and store the new string in the variable Siblings3
Siblings3 = Siblings.replace('best','worse')
print(Siblings3)

MIDDLE CHILDREN HAVE IT THE WORST
Middle children have it the worst

In [ ]:
truth= 'We can do anything we set our minds to'

# Assuming positive index numbers, what is the result of the input truth.find(‘can’) ? What does this result mean?
print(truth.find('can') )

# What is the result of the input truth.find(‘minds’) ?
print(truth.find('minds') )

# What is the result of the input truth.find(‘believe’) ?
print(truth.find('believe') )

3
30
-1

In [ ]:
# What inputs would you run to print each of the following?

# JENNIFER LOPEZ
# IS AN AWESOME DANCER!
print(f"JENNIFER LOPEZ\nIS AN AWESOME DANCER!")


# colour ---> purple
print(f"colour ---> purple")


# The backslash \ is so cool
print(f"The backslash \ is so cool")

JENNIFER LOPEZ
IS AN AWESOME DANCER!
colour ---> purple
The backslash \ is so cool

# Variables and Expressions

In [4]:
message = "What's up, Doc?"
n = 17
pi = 3.14159

print(message)
print(n)
print(pi)

print(type(message))
print(type(n))
print(type(pi))

What's up, Doc?
17
3.14159
<class 'str'>
<class 'int'>
<class 'float'>

In [21]:
# Do the following operations

 a = 7
 b = 5


print(a+b)
print(2*a/3)
print(5*b//2)
print(a*2*b)

12
4.666666666666667
12
70

In [26]:
# Order of operations(Operators with the same precedence are evaluated from left to right)

# Parentheses -----> Exponentiation ------>  Multiplication and Division ----->  Addition and Subtraction



print((8-5)*4-5)
print(56/8*7-5)
print(15-(3+2)/5)
print(7*5//6)

7
44.0
14.0
5

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>----> From Coursera

<p>What is the value of <code>x</code> ?<br> where, <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2
print (x)

7

<details><summary>Click here for the solution</summary>

```python
7

```

</details>

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2
print(y)

10

<details><summary>Click here for the solution</summary>

```python
10

```

</details>

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y
print(z)

17

<details><summary>Click here for the solution</summary>

```python
17

```

</details>

<h2 id="quiz">Quiz on Strings</h2> -----> From Coursera

What is the value of the variable <code>a</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

a = "1"
print(a)
type(a)

1

str

<details><summary>Click here for the solution</summary>

```python
"1"

```

</details>

What is the value of the variable <code>b</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

b = "2"
print(b)
type(b)

2

str

<details><summary>Click here for the solution</summary>

```python
"2"

```

</details>

What is the value of the variable <code>c</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

c = a + b
print(c)
type(c)

12

str

<details><summary>Click here for the solution</summary>

```python
"12"

```

</details>

<hr>

Consider the variable <code>d</code> use slicing to print out the first three elements:

In [ ]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
print(d[0:3])

ABC

<details><summary>Click here for the solution</summary>

```python
print(d[:3])

# or

print(d[0:3])

```

</details>

<hr>

Use a stride value of 2 to print out every second character of the string <code>e</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
print(e[::2])

correct

<details><summary>Click here for the solution</summary>

```python
print(e[::2])

```

</details>

<hr>

Print out a backslash:

In [ ]:
# Write your code below and press Shift+Enter to execute

print(r"\ ")

\

<details><summary>Click here for the solution</summary>

```python
print("\\\\")

or

print(r"\ ")

```

</details>

<hr>

Convert the variable <code>f</code> to uppercase:

In [ ]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
print(f.upper())

YOU ARE WRONG

<details><summary>Click here for the solution</summary>

```python
f.upper()

```

</details>

Convert the variable <code>f2</code> to lowercase:

In [ ]:
# Write your code below and press Shift+Enter to execute
f2="YOU ARE RIGHT"
print(f2.lower())

you are right

<details><summary>Click here for the solution</summary>

```python
f2.lower()

```

</details>

<hr>

Consider the variable <code>g</code>, and find the first index of the sub-string <code>snow</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

print(g.find('snow'))

95

<details><summary>Click here for the solution</summary>

```python
g.find("snow")

```

</details>

In the variable <code>g</code>, replace the sub-string <code>Mary</code> with <code>Bob</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
print(g.replace('Mary', 'Bob'))

Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go

<details><summary>Click here for the solution</summary>

```python
g.replace("Mary", "Bob")

```

</details>

In the variable <code>g</code>, replace the sub-string <code>,</code> with <code>.</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
print(g.replace(',', '.'))

Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go

<details><summary>Click here for the solution</summary>

```python
g.replace(',','.')

```

</details>

In the variable <code>g</code>, split the substring to list:

In [ ]:
# Write your code below and press Shift+Enter to execute
print(g.split())

['Mary', 'had', 'a', 'little', 'lamb', 'Little', 'lamb,', 'little', 'lamb', 'Mary', 'had', 'a', 'little', 'lamb', 'Its', 'fleece', 'was', 'white', 'as', 'snow', 'And', 'everywhere', 'that', 'Mary', 'went', 'Mary', 'went,', 'Mary', 'went', 'Everywhere', 'that', 'Mary', 'went', 'The', 'lamb', 'was', 'sure', 'to', 'go']

<details><summary>Click here for the solution</summary>

```python
g.split()

```

</details>

In the string <code>s3</code>, find whether the digit is present or not using the <code>\d</code> and <code>search() </code>function:

In [ ]:
s3 = "House number- 1105"
# Write your code below and press Shift+Enter to execute
pattern =r"\d"
r = re.search(pattern, s3)

if r:
    print("digit is present and the first digit is "+ r.group() )
else:
    print("digit is not present")

digit is present and the first digit is 1

<details><summary>Click here for the solution</summary>

```python
# Use the search() function to search for the "\d" in the string
result = re.search("\d", s3)

# Check if a match was found
if result:
    print("Digit found")
else:
    print("Digit not found.")
```

</details>

In the string <code>str1</code>, replace the sub-string <code>fox</code> with <code>bear</code> using <code>sub() </code>function:

In [ ]:
str1= "The quick brown fox jumps over the lazy dog."

# Write your code below and press Shift+Enter to execute
print(re.sub(r'fox', 'bear', str1))

The quick brown bear jumps over the lazy dog.

<details><summary>Click here for the solution</summary>

```python
# Use re.sub() to replace "fox" with "bear"
new_str1 = re.sub(r"fox", "bear", str1)

print(new_str1)
```

</details>

In the string <code>str2</code> find all the occurrences of <code>woo</code> using <code>findall()</code> function:

In [ ]:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

# Write your code below and press Shift+Enter to execute
print(re.findall(r'woo', str2))

['woo', 'woo', 'woo', 'woo']

<details><summary>Click here for the solution</summary>

```python
# Use re.findall() to find all occurrences of "woo"
matches = re.findall(r"woo", str2)

print(matches)
```

</details>



# *Exercise*

# Python Basics NoteBook

In [30]:
#Write a Python code to return your Python version


sys.version

'3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]'

In [38]:
#Write a Python code to declare variable id="513".
id = "513"

#Print the following statement "customer id =513". [Don't use print("customer id =513")]
print("customer id = "+id)

customer id = 513

In [35]:
#Run the following statement, why there is an error(Ans: Here we are trying to add an integer (1) to a string (id). In Python, you cannot directly add a number to a string using the + operator. )
''
# id=id+1

In [40]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
new_id = int(id)+1

#Print the new_id
print(new_id)

514

In [50]:
#Write a Python code to print the following string in a specific format (see the output).

# Twinkle, twinkle, little star,
#     How I wonder what you are!
#        Up above the world so high,
#            Like a diamond in the sky.


print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky.")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
			Like a diamond in the sky.

In [52]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [53]:
# Print the element on the 13th index in the string

print(course[12])

a

In [54]:
# Find the length of string

len(course)

23

In [55]:
# Print the last element in the string [use negative index]

course[-1]

'e'

In [56]:
# Take the slice on variable course with only index 11 to index 14

course[11:15]

'Data'

In [57]:
# Get every third element in the range from index 0 to index 20

course[0:20:3]

'Ph ra i'

In [58]:
# Concatenate course string with ", AI & Development"

print(course+", AI & Development")

Python for Data Science, AI & Development

In [59]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"

course = course+", AI & Development"
print(course.replace(" ", "_"))

Python_for_Data_Science,_AI_&_Development

In [60]:
# Convert all the characters in string to upper case

print(course.upper())

PYTHON FOR DATA SCIENCE, AI & DEVELOPMENT