<a href="https://colab.research.google.com/github/Mintu-Vipin/NPowerCanada/blob/main/C4W2_PythonDataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Articulate

#Dictionary, List, Tuples and Sets

# Python Lists Exercises

In [ ]:
#Q1 Create a tuple with all participant names in the JDA program

participant_names = ("Amir", "Elvis", "Jasdeep", "Mintu", "Revanth", "Oluwayomi")
print(type(participant_names))
participant_names

<class 'tuple'>

('Amir', 'Elvis', 'Jasdeep', 'Mintu', 'Revanth', 'Oluwayomi')

In [ ]:
#Q2 Convert the tuple into a list called pps_L

pps_L = list(participant_names)
print(type(pps_L))
pps_L

<class 'list'>

['Amir', 'Elvis', 'Jasdeep', 'Mintu', 'Revanth', 'Oluwayomi']

In [ ]:
#Q3 What is the length of your list

len(pps_L)

6

In [ ]:
from typing_extensions import ParamSpecArgs
#Q4 Find the values stored in indexes [3],[5],[14],[30],[38]

indexes = [3,5,14,30,38]

for i in indexes:
  if i< len(pps_L):
      print(pps_L[i])
  else:
    print("Index not found")

Mintu
Oluwayomi
Index not found
Index not found
Index not found

In [ ]:
#Q5 Check if "Sarah" is in the list

"Sarah" in pps_L

False

In [ ]:
#Q6 Add "Sarah" to your list

pps_L.append("Sarah")
pps_L

['Amir', 'Elvis', 'Jasdeep', 'Mintu', 'Revanth', 'Oluwayomi', 'Sarah']

In [ ]:
#Q7 Check if "Bashir" is in the list

"Bashir" in pps_L

False

In [ ]:
#Q9 Add "Bashir" to your list

pps_L.append("Bashir")
pps_L

['Amir',
 'Elvis',
 'Jasdeep',
 'Mintu',
 'Revanth',
 'Oluwayomi',
 'Sarah',
 'Bashir']

In [ ]:
#Q10 Find the index of the element "Sarah" in the list

pps_L.index("Sarah")

6

In [ ]:
#Q11 Change the value of the index in Q10 from "Sarah" to "Instructor"

pps_L[6] = "Instructor"
pps_L

['Amir',
 'Elvis',
 'Jasdeep',
 'Mintu',
 'Revanth',
 'Oluwayomi',
 'Instructor',
 'Bashir']

In [ ]:
#Q12 Find the index of the element "Bashir" in the list

pps_L.index("Bashir")

7

In [ ]:
#Q13 Change the value of the index in Q12 from "Bashir" to "Peer-Mentor"

pps_L[7] = "Peer-Mentor"
pps_L

['Amir',
 'Elvis',
 'Jasdeep',
 'Mintu',
 'Revanth',
 'Oluwayomi',
 'Instructor',
 'Peer-Mentor']

# Python Tuples Exercises

In [ ]:
#Q1 Create myTuple tuple with the follwoing values
#("NPower","JDA","Tuesday",30,3,2021)

myTuple = ("NPower","JDA","Tuesday",30,3,2021)
myTuple

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [ ]:
#Q2 What is the type of myTuple
print(type(myTuple))

<class 'tuple'>

In [ ]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [ ]:
#Q4 print the values in each index #Use regular indexing
for i in range(len(myTuple)):
  print("The value of index", i, "is", myTuple[i])

The value of index 0 is NPower
The value of index 1 is JDA
The value of index 2 is Tuesday
The value of index 3 is 30
The value of index 4 is 3
The value of index 5 is 2021

In [ ]:
#Q5 print the values in each index #Use negative indexing

for i in range(-len(myTuple),0):
  print("The value of index", i, "is", myTuple[i])

The value of index -6 is NPower
The value of index -5 is JDA
The value of index -4 is Tuesday
The value of index -3 is 30
The value of index -2 is 3
The value of index -1 is 2021

In [ ]:
#Q6 what is the type of each value

for i in range(len(myTuple)):
  print("The value of index", i, "is", "\"", myTuple[i], "\" and its type is",type(myTuple[i]))

The value of index 0 is " NPower " and its type is <class 'str'>
The value of index 1 is " JDA " and its type is <class 'str'>
The value of index 2 is " Tuesday " and its type is <class 'str'>
The value of index 3 is " 30 " and its type is <class 'int'>
The value of index 4 is " 3 " and its type is <class 'int'>
The value of index 5 is " 2021 " and its type is <class 'int'>

In [ ]:
#Q7 unpack myTuple in the follwoeing variables
#name,program,dayName,month,day,year accordingly
# print the variables

name,program,dayName,month,day,year = myTuple

print("Name:", name)
print("Program:", program)
print("Day:", dayName)
print("Month:", month)
print("Day:", day)
print("Year:", year)

Name: NPower
Program: JDA
Day: Tuesday
Month: 30
Day: 3
Year: 2021

In [ ]:
#Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)

name,program,dayName = myTuple2

#Error because the variables month, day, and year will not be assigned any values, as they are not included in the unpacking.

NameError: name 'myTuple2' is not defined

In [ ]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [ ]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Q9 Reverse myTuple, output should looks like
#(2021,3,30,"Tuesday","JDA","NPower")

print(myTuple)
rev1 = reversed(myTuple)
print(tuple(rev1))

rev2 = myTuple[::-1]
print(rev2)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)
(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')
(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [ ]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [ ]:
#Q11 What is the output of nestedTuple[1:2]

nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [ ]:
#Q12 print each element in the nestedTuple

for i in nestedTuple:
  print(i)

('Coursera', 'course', 6)
('week', (2, 'Lists', 'Tuple'))

In [ ]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
# print(nestedTuple)

nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [ ]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [ ]:
#Q15 Access the value "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [ ]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

'course'

In [ ]:
#Q17 Concatenate myTuple with nestedTuple
myTuple = myTuple+nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [ ]:
#Q18 add your name to the tuple
myTuple = myTuple+("Mintu",)
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Mintu')

In [ ]:
# This question, I have doubt

#Q19 check whether Coursera exists within  myTuple

# NOTE "in" doesn't work properly with nested tuples

list_myTuple = list(myTuple)

# Check if "Coursera" exists in the flattened tuple
if "Coursera" in list_myTuple:
    print("Coursera exists in myTuple")
else:
    print("Coursera does not exist in myTuple")

Coursera does not exist in myTuple

In [ ]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)

list_testTuple = list(testTuple)

# Check if "Coursera" exists in the flattened tuple
if 55 in list_testTuple:
    print("55 exists in testTuple")
else:
    print("55 does not exist in testTuple")

55 exists in testTuple

In [ ]:
# This question, I have doubt
#Q21 Find the index of JDA in myTuple


# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output

print(myTuple)
myTuple.index("JDA")
myTuple.index("Coursera")

('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')), 'Mintu')

ValueError: tuple.index(x): x not in tuple

In [ ]:
#Q22 print index 8 from myTuple
myTuple[8]

'Mintu'

In [ ]:
#Q23 Get the 4th element from the begining of myTuple
#and 4th element from last of a myTuple
print(myTuple)
print(myTuple[4])
print(myTuple[-4])

('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')), 'Mintu')
3
2021

In [ ]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]

print(testTuple)
testTuple.count(55)

(1, 2, 33, 55, 6, 55)

2

<h2 id="quiz">Quiz on List</h2>---------> From Coursera

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>\[1,2,3]</code> and <code>True</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute
a_list = [1, "hello", [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

<details><summary>Click here for the solution</summary>

```python
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

```

</details>

Find the value stored at index 1 of <code>a_list</code>.

In [4]:
# Write your code below and press Shift+Enter to execute
a_list[1]

'hello'

<details><summary>Click here for the solution</summary>

```python
a_list[1]

```

</details>

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [5]:
# Write your code below and press Shift+Enter to execute
a_list[1:4]

['hello', [1, 2, 3], True]

<details><summary>Click here for the solution</summary>

```python
a_list[1:4]

```

</details>

Concatenate the following lists <code>A = \[1, 'a']</code> and <code>B = \[2, 1, 'd']</code>:

In [6]:
# Write your code below and press Shift+Enter to execute
A = [1, 'a']
B = [2, 1, 'd']

A+B

[1, 'a', 2, 1, 'd']

<details><summary>Click here for the solution</summary>

```python
A = [1, 'a']
B = [2, 1, 'd']
A + B

```

</details>

<center>

# Scenario : Shopping list
    
</center>

# Task-1  Create an empty list
At first we need to create a empty list for storing the items to buy in Shopping list.

In [8]:
#Type your code here
shopping_list = []

<details><summary>Click here for the solution</summary>

```python
Shopping_list=[]

```

</details>

# Task-2 Now store the number of items to the shopping_list
* Watch
* Laptop
* Shoes
* Pen
* Clothes


<br>

In [9]:
#Type your code here
shopping_list =["Watch", "Laptop", "Shoes", "Pen", "Clothes"]

<details><summary>Click here for the hint </summary>

```python
Hint:- Directly store every item as a different string in the list.

```

</details>

<details><summary>Click here for the solution</summary>

```python
Shopping_list=["Watch","Laptop","Shoes","Pen","Clothes"]

```

</details>

# Task-3 Add a new item to the shopping_list
Seems like I missed one item "Football" to add in the shopping list.
<br>

In [19]:
#Type your code here
shopping_list.append("Football")
shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football', 'Football']

<details><summary>Click here for the hint </summary>

```python
Hint:- Use `Append()` method for adding "Football" to our shopping list

```

</details>

<details><summary>Click here for the solution</summary>

```python
Shopping_list.append("Football")

```

</details>

# Task-4 Print First item from the shopping_list
Let's check the first item that we need to buy.
<br>

In [20]:
#Type your code here
shopping_list[0]

'Watch'

<details><summary>Click here for the hint </summary>

```python
**Hint:-** Use `indexing` for checking the first item.

```

</details>

<details><summary>Click here for the solution</summary>

```python
print(Shopping_list[0])

```

</details>

# Task-5 Print Last item from the shopping_list
Let's check the last time that we need to buy.
<br>

In [21]:
#Type your code here

shopping_list[-1]

'Football'

<details><summary>Click here for the hint </summary>

```python
Hint:- Use `indexing` for checking for last item.

```

</details>

<details><summary>Click here for the solution</summary>

```python
print(Shopping_list[-1])

```

</details>

# Task-6 Print the entire Shopping List

In [22]:
#Type your code here.
print(shopping_list)

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football', 'Football']

<details><summary>Click here for the solution</summary>

```python
print(Shopping_list)

```

</details>

# Task-7 Print the item that are important to buy from the Shopping List
Print "Laptop" and "shoes"

In [23]:
#Type your code here
shopping_list[1:3]

['Laptop', 'Shoes']

<details><summary>Click here for the hint </summary>

```python
Hint:- Use `slicing` to print "Laptop" and "Shoes"

```

</details>

<details><summary>Click here for the solution</summary>

```python
print(Shopping_list[1:3])

```

</details>

# Task-8 Change the item from the shopping_list
Instead of <u>"Pen"</u> I want to buy <u>"Notebook"</u>
let's change the item stored in the list.
<br>

In [26]:
#Type your code here
shopping_list[3] = ("Notebook")
shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football', 'Football']

<details><summary>Click here for the hint </summary>

```python
Hint:- Locate the item you want to change using `index`, and Update the item with the new desired value using `string`.

```

</details>

<details><summary>Click here for the solution</summary>

```python
Shopping_list[3] = "Notebook"

```

</details>

# Task-9 Delete the item from the shopping_list that is not required
Let's delete items that are unimportant, such as; I don't want to buy <u>Clothes</u>, let's delete it.
<br>

In [28]:
#Type your code here
del shopping_list[4]
shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

<details><summary>Click here for the hint </summary>

```python
Hint:- Use `del` method for deleting.

```

</details>

<details><summary>Click here for the solution</summary>

```python
del (shopping_list[4])

```

</details>

# Task-10 Print the shopping list
We are ready with our shopping list.

In [29]:
# Type your code here
print(shopping_list)

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

<h2 id="quiz">Quiz on Tuples</h2>  -----> From Coursera

Consider the following tuple:

In [31]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, <code>genres_tuple</code>:

In [32]:
# Write your code below and press Shift+Enter to execute

len(genres_tuple)

8

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesQuiz.png" width="1100" align="center">

<details><summary>Click here for the solution</summary>

```python
len(genres_tuple)
```

</details>

Access the element, with respect to index 3:

In [33]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3]

'hard rock'

<details><summary>Click here for the solution</summary>

```python
genres_tuple[3]

```

</details>

Use slicing to obtain indexes 3, 4 and 5:

In [34]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

<details><summary>Click here for the solution</summary>

```python
genres_tuple[3:6]

```

</details>

Find the first two elements of the tuple <code>genres_tuple</code>:

In [35]:
# Write your code below and press Shift+Enter to execute
genres_tuple[0:2]

('pop', 'rock')

<details><summary>Click here for the solution</summary>

```python
genres_tuple[0:2]

```

</details>

Find the first index of <code>"disco"</code>:

In [38]:
# Write your code below and press Shift+Enter to execute
genres_tuple.index("disco")

7

<details><summary>Click here for the solution</summary>

```python
genres_tuple.index("disco")

```

</details>

Generate a sorted List from the Tuple <code>C_tuple=(-5, 1, -3)</code>:

In [41]:
# Write your code below and press Shift+Enter to execute
C_tuple=(-5, 1, -3)
sorted(C_tuple)

[-5, -3, 1]

<details><summary>Click here for the solution</summary>

```python
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

```

</details>

<a id="quiz"></a>
## Quiz on Dictionaries -------> From Coursera

<b>You will need this dictionary for the next two questions:</b>

In [1]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

a) In the dictionary <code>soundtrack_dic</code> what are the keys ?

In [6]:
# Write your code below and press Shift+Enter to execute
print(soundtrack_dic.keys())

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

<details><summary>Click here for the solution</summary>

```python
soundtrack_dic.keys() # The Keys "The Bodyguard" and "Saturday Night Fever"

```

</details>

b) In the dictionary <code>soundtrack_dic</code> what are the values ?

In [7]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.values()

dict_values(['1992', '1977'])

<details><summary>Click here for the solution</summary>

```python
soundtrack_dic.values() # The values are "1992" and "1977"

```

</details>

<hr>

<b>You will need this dictionary for the following questions:</b>

The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values.

In [10]:
# Write your code below and press Shift+Enter to execute

album_sales_dict = {"Back in Black": 50, "The Bodyguard": 50, "Thriller": 65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

<details><summary>Click here for the solution</summary>

```python
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

```

</details>

b) Use the dictionary to find the total sales of <b>Thriller</b>:

In [49]:
# Write your code below and press Shift+Enter to execute

album_sales_dict['Thriller']

65

<details><summary>Click here for the solution</summary>

```python
album_sales_dict["Thriller"]

```

</details>

c) Find the names of the albums from the dictionary using the method <code>keys()</code>:

In [50]:
# Write your code below and press Shift+Enter to execute

album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

<details><summary>Click here for the solution</summary>

```python
album_sales_dict.keys()

```

</details>

d) Find the values of the recording sales from the dictionary using the method <code>values</code>:

In [51]:
# Write your code below and press Shift+Enter to execute

album_sales_dict.values()

dict_values([50, 50, 65])

<details><summary>Click here for the solution</summary>

```python
album_sales_dict.values()

```

</details>

<a id="Scenario"></a>
## Scenario:Inventory Store

The inventory store scenario project utilizes a dictionary-based approach to develop a robust system for managing and tracking inventory in a retail store.
<br>
**Note:- You will be working with two product details.**

## Task-1 Create an empty dictionary


First you need to create an empty dictionary, where you will be storing the product details.

In [ ]:
#Type your code here

product_details = {}

<details> <summary>Click here for the solution</summary>

```python

inventory ={}

```

</details>

## Task-2 Store the first product details in variable
* Product Name= Mobile phone
* Product Quantity= 5
* Product price= 20000
* Product Release Year= 2020

In [15]:
#type your code here
Product_name1= "Mobile phone"
Product_quantity1= 5
Product_price1= 20000
Product_release_year1= 2020

<details> <summary>Click here for the solution</summary>

```python
ProductNo1 = "Mobile Phone"
ProductNo1_quantity = 5
ProductNo1_price = 20000
ProductNo1_releaseYear= 2020
```

</details>

## Task-3 Add the details in inventory

In [19]:
#Type your code here

product_details["ProductNo1"]= Product_name1
product_details["ProductNo1_quantity"]= Product_quantity1
product_details["ProductNo1_price"]= Product_price1
product_details["ProductNo1_releaseYear"]=Product_release_year1

product_details

{'ProductNo1': 'Mobile phone',
 'ProductNo1_quantity': 5,
 'ProductNo1_price': 20000,
 'ProductNo1_releaseYear': 2020}

<details> <summary>Click here for the solution</summary>

```python

inventory["ProductNo1"]= ProductNo1
inventory["ProductNo1_quantity"]= ProductNo1_quantity
inventory["ProductNo1_price"]= ProductNo1_price
inventory["ProductNo1_releaseYear"]=ProductNo1_releaseYear

```

</details>

## Task-4 Store the second product details in a variable.
* Product Name= "Laptop"
* Product Quantity= 10
* Product price = 50000
* Product Release Year= 2023

In [22]:
#type your code here

Product_name2= "Laptop"
Product_quantity2= 10
Product_price2= 50000
Product_release_year2= 2023

product_details

{'ProductNo1': 'Mobile phone',
 'ProductNo1_quantity': 5,
 'ProductNo1_price': 20000,
 'ProductNo1_releaseYear': 2020}

<details> <summary>Click here for the solution</summary>

```python

ProductNo2 = "Laptop"
ProductNo2_quantity = 10
ProductNo2_price = 50000
ProductNo2_releaseYear= 2023

```

</details>

## Task-5 Add the item detail into the inventory.

In [23]:
#type your code here

product_details["ProductNo2"]= Product_name2
product_details["ProductNo2_quantity"]= Product_quantity2
product_details["ProductNo2_price"]= Product_price2
product_details["ProductNo2_releaseYear"]=Product_release_year2

product_details

{'ProductNo1': 'Mobile phone',
 'ProductNo1_quantity': 5,
 'ProductNo1_price': 20000,
 'ProductNo1_releaseYear': 2020,
 'ProductNo2': 'Laptop',
 'ProductNo2_quantity': 10,
 'ProductNo2_price': 50000,
 'ProductNo2_releaseYear': 2023}

<details> <summary>Click here for the solution</summary>

```python

inventory["ProductNo2"]= ProductNo2
inventory["ProductNo2_quantity"]= ProductNo2_quantity
inventory["ProductNo2_price"]= ProductNo2_price
inventory["ProductNo2_releaseYear"]=ProductNo2_releaseYear

```

</details>

## Task-6 Display the Products present in the inventory

Use print statement for displaying the products

In [31]:
#type your code here
print(product_details)

{'ProductNo1': 'Mobile phone', 'ProductNo1_quantity': 5, 'ProductNo1_price': 20000, 'ProductNo1_releaseYear': 2020, 'ProductNo2': 'Laptop', 'ProductNo2_quantity': 10, 'ProductNo2_price': 50000, 'ProductNo2_releaseYear': 2023}

<details> <summary>Click here for the solution</summary>

```python

print(inventory)

```

</details>

## Task-7 Check if `ProductNo1_releaseYear` and `ProductNo2_releaseYear` is in the inventory

In [39]:
#Type your code here

print('ProductNo1_releaseYear' in product_details)
print('ProductNo2_releaseYear' in product_details)

True
True

 <details> <summary>Click here for the solution</summary>

```python

"ProductNo1_releaseYear" in inventory
"ProductNo2_releaseYear" in inventory

```

</details>

**As in inventory `Release year` is not required, let's delete it.**

## Task-8 Delete release year of both the products from the inventory

In [46]:
#Type your code here
del(product_details['ProductNo1_releaseYear'])
del(product_details['ProductNo2_releaseYear'])
product_details

{'ProductNo1': 'Mobile phone',
 'ProductNo1_quantity': 5,
 'ProductNo1_price': 20000,
 'ProductNo2': 'Laptop',
 'ProductNo2_quantity': 10,
 'ProductNo2_price': 50000}


<details> <summary>Click here for the solution</summary>

```python

del(inventory["ProductNo1_releaseYear"])
del(inventory["ProductNo2_releaseYear"])

```

</details>

<h2 id="quiz">Quiz on Sets</h2> ------------> From Coursera

Convert the list <code>['rap','house','electronic music', 'rap']</code> to a set:

In [3]:
# Write your code below and press Shift+Enter to execute

S = set(['rap','house','electronic music', 'rap'])
S

{'electronic music', 'house', 'rap'}

<details><summary>Click here for the solution</summary>

```python
set(['rap','house','electronic music','rap'])

```

</details>

Consider the list <code>A = [1, 2, 2, 1]</code> and set <code>B = set([1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [6]:
# Write your code below and press Shift+Enter to execute

A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])

print(sum(A))
print(sum(B))


#

6
3

<details><summary>Click here for the solution</summary>

```python
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

```

</details>

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [8]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 =album_set1.union(album_set2)

album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

<details><summary>Click here for the solution</summary>

```python
album_set3 = album_set1.union(album_set2)
album_set3

```

</details>

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

In [11]:
# Write your code below and press Shift+Enter to execute
album_set1.issubset(album_set3)

True

<details><summary>Click here for the solution</summary>

```python
album_set1.issubset(album_set3)

```

</details>