<a href="https://colab.research.google.com/github/Mintu-Vipin/NPowerCanada_JuniorDataAnalyst/blob/main/C4W3_PythonProgrammingFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Coursera**

# **Conditions & Branching**

<h2 id="quiz">Practise Exercises</h2>

##### 1. There are 2 sisters, Annie and Jane, born in 1996 and 1999 respectively. They want to know who was born in a leap year. Write an if-else statement to determine who was born in a leap year.

In [1]:
# Write your code below and press Shift+Enter to execute
def check(year):
  if(year%4==0):
   return ("leap year")
  else:
    return ("not a leap year")

# Annie
print('Annie born in',check(1996))
# # Jane
print('Jane born in',check(1999))

Annie born in leap year
Jane born in not a leap year

<details><summary>Click here for the hint</summary>

A leap year is one that is divisible by 4

</details>

<details><summary>Click here for the solution</summary>

```python
Annie=1996
Jane=1999
if Annie%4==0:
    print("Annie was born in a leap year")
elif Jane%4==0:
    print("Jane was born in a leap year")
else:
    print("None of them were born in a leap year")

```

</details>

##### 2. In a school canteen, children under the age of 9 are only given milk porridge for breakfast. Children from 10 to 14 are given a sandwich, and children from 15 to 17 are given a burger. The canteen master asks the age of the student and gives them breakfast accordingly. Sam's age is 10. Use if-else statement to determine what the canteen master will offer to him.

In [2]:
# Write your code below and press Shift+Enter to execute
def food(age):
  if age<9:
    return 'milk porridge'
  elif age in range(10,18):
    return 'burger'

sam_age = 10

print("Sam will get", food(sam_age))

Sam will get burger

<details><summary>Click here for the hint</summary>

<p>For each range of age, create an if condition and print what the student will get according to their age<p>

</details>

<details><summary>Click here for the solution</summary>

```python
age = 10
if age <=9:
    print ("You will get a bowl of porridge!")
elif age>=10 and age<=14:
    print ("You will get a sandwich!")
elif age>=15 and age<=17:
    print("You will get a burger!")
    
```

</details>

# **Loops**

<h2 id="quiz">Practise Exercises on Loops</h2>

Write a <code>for</code> loop the prints out all the element between <b>-5</b> and <b>5</b> using the range function.

In [3]:
# Write your code below and press Shift+Enter to execute
for number in range(-4,5):
  print(number)

-4
-3
-2
-1
0
1
2
3
4

<details><summary>Click here for the solution</summary>

```python
for i in range(-4, 5):
    print(i)
    
```

</details>

Print the elements of the following list:
<code>Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']</code>
Make sure you follow Python conventions.

In [4]:
# Write your code below and press Shift+Enter to execute
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for genre in Genres:
  print(genre)

rock
R&B
Soundtrack
R&B
soul
pop

<details><summary>Click here for the solution</summary>

```python
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)
    
```

</details>

<hr>

Write a for loop that prints out the following list: <code>squares=['red', 'yellow', 'green', 'purple', 'blue']</code>

In [5]:
# Write your code below and press Shift+Enter to execute
squares=['red', 'yellow', 'green', 'purple', 'blue']
for color in squares:
  print(color)

red
yellow
green
purple
blue

<details><summary>Click here for the solution</summary>

```python
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)
    
```

</details>

<hr>

Write a while loop to display the values of the Rating of an album playlist stored in the list <code>PlayListRatings</code>. If the score is less than 6, exit the loop. The list <code>PlayListRatings</code> is given by: <code>PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]</code>

In [6]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i=0
while(PlayListRatings[i]>=6):
  print(PlayListRatings[i])
  i+=1

10
9.5
10
8
7.5

<details><summary>Click here for the solution</summary>

```python
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]
while(i < len(PlayListRatings) and rating >= 6):
    print(rating)
    i = i + 1
    rating = PlayListRatings[i]    
```

</details>

Write a while loop to copy the strings <code>'orange'</code> of the list <code>squares</code> to the list <code>new_squares</code>. Stop and exit the loop if the value on the list is not <code>'orange'</code>:

In [7]:
# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i=0
while(squares[i] == 'orange'):
  new_squares.append(squares[i])
  i+=1
print(new_squares)

['orange', 'orange']

<details><summary>Click here for the solution</summary>

```python
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)
    
```

</details>

### Some real-life problems!

Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using <code>for</code> loop.

In [8]:
# Write your code here
def multiplication_table(number):
  for i in range(1,13):
    print(i,'*',number,'=', i*number);

multiplication_table(6)
print('\n')
multiplication_table(7)

1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60
11 * 6 = 66
12 * 6 = 72


1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70
11 * 7 = 77
12 * 7 = 84

<details><summary>Click here for the hint</summary>

Write two for loops. One to print the multiplication table of 6 and the other for 7

</details>

<details><summary>Click here for the solution</summary>

```python
print("Multiplication table of 6:")
for i in range (10):
    print("6*",i,"=",6*i)
print("Multiplication table of 7:")
for i in range (10):
    print("7*",i,"=",7*i)
    
```

</details>

<hr>

The following is a list of animals in a National Zoo.
<code>Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]</code>

Your brother needs to write an essay on the animals whose names are made of 7 letters. Help him find those animals through a <code>while</code> loop and create a separate list of such animals.

In [9]:
# Write your code here
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
animals7 = []
i =0
while(i<len(Animals)):
  if(len(Animals[i])==7):
    animals7.append(Animals[i])
    i+=1
  else:
    i+=1
print(animals7)

['giraffe', 'gorilla', 'parrots']

<details><summary>Click here for hint</summary>

Use while loop to iterate over the elements of the list. Use if-else statement inside the for loop to check the length of each element and if the length is 7, add the element to a new list.

</details>

<details><summary>Click here for the solution</summary>

```python

Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New = []
i=0
while i<len(Animals):
    j=Animals[i]
    if(len(j)==7):
        New.append(j)
    i=i+1
print(New)
    
```

</details>

# **Functions**

<h2>Quiz on Functions</h2>

Come up with a function that divides the first input by the second input:

In [10]:
# Write your code below and press Shift+Enter to execute
def div(a,b):
  return a/b
div(10,2)

5.0

<details><summary>Click here for the solution</summary>

```python
def div(a, b):
    return(a/b)
    
```

</details>

<hr>

Use the function <code>con</code> for the following question.

In [11]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

Can the <code>con</code> function we defined before be used to add two integers or strings?

In [12]:
# Write your code below and press Shift+Enter to execute
# Yes
con(1,2)

3

<details><summary>Click here for the solution</summary>

```python
Yes, for example:
con(2, 2)
    
```

</details>

<hr>

Can the <code>con</code> function we defined before be used to concatenate lists or tuples?

In [13]:
# Write your code below and press Shift+Enter to execute
# Yes
con([1,2],[3,4])

[1, 2, 3, 4]

<details><summary>Click here for the solution</summary>

```python
Yes, for example:
con(['a', 1], ['b', 1])
    
```

</details>

Write a function code to find total count of word `little` in the given string:
`"Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go"**`

In [14]:
# Write your code below and press Shift+Enter to execute
def count(sentence):
  word='little'
  words = sentence.split()
  count =0
  # print(len(words))
  for i in range(0,(len(words)-1)):
    if word in words[i]:
     count+=1
  return count

count("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go")

3

<details><summary>Click here for the solution</summary>

```python
# Python Program to Count words in a String using Dictionary
def freq(string,passedkey):

    #step1: A list variable is declared and initialized to an empty list.
    words = []

    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()

    #step3: Declare a dictionary
    Dict = {}

    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        if(key == passedkey):
            Dict[key] = words.count(key)   
    #step5: Print the dictionary
    print("Total Count:",Dict)

#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")
    
```

</details>

# **Exception Handling**

<center>
    
    
# Practice Exercises

</center>

## Exercise 1: Handling ZeroDivisionError

Imagine you have two numbers and want to determine what happens when you divide one number by the other. To do this, you need to create a Python function called `safe_divide.` You give this function two numbers, a `'numerator'` and a `'denominator'`. The 'numerator' is the number you want to divide, and the `'denominator'` is the number you want to divide by. Use the user input method of Python to take the values.

The function should be able to do the division for you and give you the result. But here's the catch: if you try to divide by zero (which is not allowed in math), the function should be smart enough to catch that and tell you that it's not possible to divide by zero. Instead of showing an error, it should return None, which means 'nothing' or 'no value', and print `"Error: Cannot divide by Zero.`

In [15]:
# function for division
def safe_divide(numerator,denominator):
  try:
    result = numerator/denominator
    return result
  except ZeroDivisionError:
    print("Error: Cannot divide by Zero")
    return None

# Test case
n = int(input("Enter Numerator"))
d = int(input("Enter Denominator"))
safe_divide(n,d)

Enter Numerator5
Enter Denominator10

0.5

**Note:- Practice handling exceptions by trying different input types like using integers, strings, zero, negative values, or other data types.**

<details><summary>Click here for the hints</summary>

```python
Follow these: -
* Define a function to perform the division and use two arguments.
* Use the try-except block to handle ZeroDivisionError.
* Return the result of the division if no error occurs.
* Return None if division by zero occurs.
* take user input for numerator and denominator values.
* call and print your function with the user inputs.
**Note:- Test with different inputs to validate error handling.**
```

</details>


<details><summary>Click here for the solution</summary>

```python

def safe_divide(numerator,denominator):
    try:
        result = numerator / denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
        return None
# Test case
numerator=int(input("Enter the numerator value:-"))
denominator=int(input("Enter the denominator value:-"))
print(safe_divide(numerator,denominator))
```

</details>

## Exercise 2: Handling ValueError

Imagine you have a number and want to calculate its square root. To do this, you need to create a Python function. You give this function one number, `'number1'`.

The function should generate the square root value if you provide a positive integer or float value as input. However, the function should be clever enough to detect the mistake if you enter a negative value. It should kindly inform you with a message saying, `'Invalid input! Please enter a positive integer or a float value.`

In [16]:
#Function for generating square root
# import package
import math

def sqrt(number1):
  try:
    if(number1>=1):
      return f" Square root the number {number} is {math.sqrt(number)}"
    else:
      return 'Please enter a number greater than 1'
  except ValueError:
      print("'Invalid input! Please enter a positive integer or a float value")
      return None
# Test case
number= int(input("Enter the number: "))
sqrt(number)

Enter the number: 9

' Square root the number 9 is 3.0'

**Note:- Practice handling exceptions by trying different input types like using integers, strings, zero, negative values, or other data types.**

<details><summary>Click here for the hints</summary>

```python
Follow these:-
* Define a function to perform square root of the argument.
* Use try-except block for error handling.
* Use `sqrt()` function from the `math` package to calculate the square root. Catch ValueError and display the error message."
* Take user input of the value, number1.
* Test with negative numbers to validate error handling.
```

</details>

<details><summary>Click here for the solution</summary>

```python
import math

def perform_calculation(number1):
    try:
        result = math.sqrt(number1)
        print(f"Result: {result}")
    except ValueError:
        print("Error: Invalid input! Please enter a positive integer or a float value.")
# Test case
number1=float(input("Enter the number:-"))
perform_calculation(number1)
```

**Note:- Test with different inputs to validate error handling.**

</details>

## Exercise 3: Handling Generic Exceptions

Imagine you have a number and want to perform a complex mathematical task. The calculation requires dividing the value of the input argument `"num"` by the difference between `"num"` and 5, and the result has to be stored in a variable called `"result"`.

You have to define a function so that it can perform that complex mathematical task. The function should handle any potential errors that occur during the calculation. To do this, you can use a try-except block. If any exception arises during the calculation, it should catch the error using the generic exception class `"Exception" as "e"`. When an exception occurs, the function should display `"An error occurred during calculation.`

In [17]:
#Function for math

def math(num):
  try:
    result =num/(num-5)
    return f"Result is {result}"
  except Exception as e:
    print("An error occurred during calculation")

n =int(input("Enter the number: "))
math(n)

Enter the number: 5
An error occurred during calculation

**Note:- Practice handling exceptions by trying different input types like using integers, strings, zero, negative values, or other data types.**

<details><summary>Click here for the hints</summary>

```python
Follow these:-
* Define a function for the complex calculation and pass any argument.
* Use a try-except block for error handling.
* Perform the calculation and store the result in "result."
* Catch any exceptions using Exception as e.
* Display "An error occurred during calculation." when an exception is caught.
* take user input
* Call the defined function with the user input
**Note:- Test with different inputs to validate error handling.**
```

</details>

<details><summary>Click here for the solution</summary>

```python
def complex_calculation(num):
    try:
        result = num / (num - 5)
        print (f"Result: {result}")
    except Exception as e:
        print("An error occurred during calculation.")
# Test case
user_input = float(input("Enter a number: "))
complex_calculation(user_input)
```

</details>

# **Classes**

<center>
    
# Scenario: Car dealership's inventory management system

</center>

You are working on a Python program to simulate a car dealership's inventory management system. The system aims to model cars and their attributes accurately.

### Task-1. You are tasked with creating a Python program to represent vehicles using a class. Each car should have attributes for maximum speed and mileage.

In [18]:
#class Vehicle
class Vehicle:
  # Constructor
  def __init__(self,max_speed,mileage):
    self.max_speed = max_speed
    self.mileage = mileage

<details><summary>Click here for the solution</summary>

```python

class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
```

</details>

### Task-2. Update the class with the default color for all vehicles," white".

In [19]:
#update color

#class Vehicle
class Vehicle:
  color = 'white'
  # Constructor
  def __init__(self,max_speed,mileage):
    self.max_speed = max_speed
    self.mileage = mileage

<details><summary>Click here for the solution</summary>

```python

class Vehicle:
    color = "white"

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
```

</details>

### Task-3. Additionally, you need to create methods in the Vehicle class to assign seating capacity to a vehicle.

In [20]:
#Add method assign_seating

#class Vehicle
class Vehicle:
  color = 'white' #set color as 'white
  # Constructor
  def __init__(self,max_speed,mileage):
    self.max_speed = max_speed
    self.mileage = mileage
    self.seating_caapcity=None

  def assign_seating(self, seating_caapcity):
    self.seating_caapcity=seating_caapcity

<details><summary>Click here for the solution</summary>

```python

class Vehicle:
    color = "white"

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = None

    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity
```

</details>

### Task-4. Create a method to display all the properties of an object of the class.

In [27]:
#Add method display_properties

#class Vehicle
class Vehicle:
  color = 'white' #set color as 'white
  # Constructor
  def __init__(self,max_speed,mileage):
    self.max_speed = max_speed
    self.mileage = mileage
    self.seating_caapcity=None

  # method assign_seating
  def assign_seating(self, seating_caapcity):
    self.seating_caapcity=seating_caapcity

  def display_properties(self):
    print(f"\nMaximum Speed: {self.max_speed}\nMileage: {self.mileage}\nSeating Capaty: {self.seating_caapcity}")

<details><summary>Click here for the solution</summary>

```python
class Vehicle:
    color = "white"

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = None

    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity

    def display_properties(self):
        print("Properties of the Vehicle:")
        print("Color:", self.color)
        print("Maximum Speed:", self.max_speed)
        print("Mileage:", self.mileage)
        print("Seating Capacity:", self.seating_capacity)
        
```

</details>

### Task-5. Additionally, you need to create two objects of the Vehicle class object that should have a max speed of 200kph and mileage of 50000kmpl with five seating capacities, and another car object should have a max speed of 180kph and 75000kmpl with four seating capacities.

In [28]:
#Create object1
ob1 =Vehicle(200,50000)
ob1.assign_seating(5)
ob1.display_properties()

#Create object2
ob2 =Vehicle(180,75000)
ob2.assign_seating(4)
ob2.display_properties()

Maximum Speed: 200
Mileage: 50000
Seating Capaty: 5

Maximum Speed: 180
Mileage: 75000
Seating Capaty: 4

<details><summary>Click here for the solution</summary>

```python
class Vehicle:
    color = "white"

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = None

    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity

    def display_properties(self):
        print("Properties of the Vehicle:")
        print("Color:", self.color)
        print("Maximum Speed:", self.max_speed)
        print("Mileage:", self.mileage)
        print("Seating Capacity:", self.seating_capacity)

# Creating objects of the Vehicle class
vehicle1 = Vehicle(200, 50000)
vehicle1.assign_seating_capacity(5)
vehicle1.display_properties()

vehicle2 = Vehicle(180, 75000)
vehicle2.assign_seating_capacity(4)
vehicle2.display_properties()

```

</details>

# **Articulate**

# ***Conditions & Loops Exercises***

In [5]:
#Q1 Given two integer numbers.
#If any of the numbers are greater than 50 return their product,
#else return their sum
number1= 20
number2= 60

if(number1>50) or (number2>50):
  print (f"Product of two  numbers : {number1*number2}")
else:
  print (f"Sum of two  numbers : {number1+number2}")

Product of two  numbers : 1200

In [14]:
#Q2 Given a list of numbers,
#return True if first and last number of a list is same
#list=[1,2,5,4,1]
list=[1,2,5,4,1]
first = list[0]
last_position= len(list)-1

if(list[0]==list[last_position]):
  print('True')
else:
  print('False')

True

In [25]:
#Q3 Given a range of the first 10 numbers[1:10],
#Iterate from the start number to the end number,
#and In each iteration print the sum of the current number and previous number

sum =0
for i in range(1,11):
  print(f"Iteration {i} : {sum+i}")
  sum+=1

Iteration 1 : 1
Iteration 2 : 3
Iteration 3 : 5
Iteration 4 : 7
Iteration 5 : 9
Iteration 6 : 11
Iteration 7 : 13
Iteration 8 : 15
Iteration 9 : 17
Iteration 10 : 19

In [31]:
#Q4 Given a string name,
#display only those characters which are present at an even index number
name="NPowerCanada"
for i in range(0,len(name)):
  if(i%2==0):
    print(name[i])

N
o
e
C
n
d

In [36]:
#Q5 Given a string oldString and an integer number n,
#remove characters from a string starting from zero up to n
#and return a newString
# oldString="PythonCourse"
#n=6

oldString="PythonCourse"
n=6
newString=''

for i in range(0,len(oldString)):
  if(i>n):
    newString +=oldString[i]

print(newString)

ourse

In [44]:
#Q6 Print the follwoing pattern

#*
#**
#***
#****


for i in range(1,5):
  print(i*'*')

*
**
***
****

In [49]:
#Q7 Reverse the following list using for loop
#list1=[90,70,50,60]
list1=[90,70,50,60]
Reverse_list1=[]
for i in range(len(list1)-1, -1, -1):
 Reverse_list1.append(list1[i])

print(Reverse_list1)

[60, 50, 70, 90]

In [52]:
#Q8 Display numbers from -10 to -1 using for loop
#[hint use range method]

for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# ***Functions Exercises***

In [55]:
#Q1 Write Python function that takes two inputs
#and return their sum value

# function sum()
def sum(a,b):
  return f'sum of {a} and {b} is {a+b}'

# Test case
sum(1,2)

'sum of 1 and 2 is 3'

In [58]:
#Q2 Write Python function the takes a celsius temprature
#and converts it into fahrenheit

# Function Fahrenheat
def Fahrenheat(c):
  return f'Fahrenheat : {(9/5)*c+32}'

# Test case
Fahrenheat(10)

'Fahrenheat : 50.0'

In [61]:
#Q3 Write a Python function to find the Max of three numbers

# Function max()
def max(x,y,z):
  if(x>y) and (x>z):
    print(f'{x} is the max number')
  elif(y>x) and (y>z):
    print(f'{y} is the max number')
  else:
    print(f'{z} is the max number')

# Test cae
max(101,200,31)

200 is the max number

In [77]:
#Q4 Write a Python function to check whether a number
#is in a given range [5,12]

# Function check()
def check(n):
    if i in range(5,12):
      return("Found it")
    else:
      return("Not found")

# Test case
check(9)

'Not found'

In [4]:
#Q5 Write a Python function that takes a list
#and returns a new list with unique elements of the first
#Sample_List : [1,2,3,3,3,3,4,5]

# Funtion u_list()
def u_list(list):
  new_list = []
  for i in range(0,len(Sample_List)):
    if list[i] not in new_list:
      new_list.append(list[i])
  return new_list


# Test case
Sample_List=[1,2,3,3,3,3,4,5]
u_list(Sample_List)

[1, 2, 3, 4, 5]

In [7]:
#Q6 Given a list of numbers, return True if first
#and last number of a list is same
#list1=[1,2,5,4,1]
#list2=[5,6,3,2,1]
#list3=[88,44,55,66,77,88]

# Function check()
def check(list):
  for i in range(0,len(list)):
    if list[0]==list[len(list)-1]:
      return 'True'
    else:
      return 'False'

# Test case
list1=[1,2,5,4,1]
list2=[5,6,3,2,1]
list3=[88,44,55,66,77,88]

print(check(list1))
print(check(list2))
print(check(list3))

True
False
True