<a href="https://colab.research.google.com/github/Mintu-Vipin/NPowerCanada_JuniorDataAnalyst/blob/main/Course6Week4_SQLwithPython_LABforworkshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Let's Learn to import library first

import sqlite3

In [2]:
#We will do properly with try catch block (without dataframe)

try:
    sqlconnection=sqlite3.connect("Hospitalinfo.db")
    cursor=sqlconnection.cursor()
    print("Database connected successfully")
    query="""SELECT * FROM Doctor """
    cursor.execute(query)
    records=cursor.fetchall()
    print("Number of records: ",len(records))
    for row in records:
        print(row[0],end=" ")
        print(row[1],end=" ")
        print(row[2],end=" ")
        print()
except sqlite3.Error as error:
    print("Error")
finally:
    sqlconnection.close()

Database connected successfully
Number of records:  9
1 Michael 101
2 Linda 101
3 William 102
4 Richard 101
5 Karen 103
6 Robert 104
7 Susan 105
8 Nancy 106
9 Nick 107

In [3]:
#Lets see the benift of using dataframe

import pandas as pd
try:
    sqlconnection=sqlite3.connect("Hospitalinfo.db")
    cursor=sqlconnection.cursor()
    print("Database connected successfully")
    query="""SELECT * FROM Doctor"""
    cursor.execute(query)
    df = pd.DataFrame(cursor.fetchall())
    print (df)
except sqlite3.Error as error:
    print("Error")

Database connected successfully
   0        1    2           3             4   5          6
0  1  Michael  101  2005-02-10     Pediatric  10   900000.0
1  2    Linda  101  2007-08-08         Gyane   5   850000.0
2  3  William  102  2004-09-11  Cardialogist  11  1000000.0
3  4  Richard  101  2011-09-05     Pediatric  12   950000.0
4  5    Karen  103  2020-09-05    Oncologist  15  1100000.0
5  6   Robert  104  1998-09-04         Gyane  14   940000.0
6  7    Susan  105  1994-06-05    Oncologist  11   870000.0
7  8    Nancy  106  1994-06-05  Cardialogist  14   870000.0
8  9     Nick  107  2019-06-05  Cardialogist   9   770000.0

In [4]:
#Lets learn to fetch column names and place it properly

import pandas as pd
try:
    sqlconnection=sqlite3.connect("Hospitalinfo.db")
    cursor=sqlconnection.cursor()
    print("Database connected successfully")
    print()
    query="""SELECT * FROM Doctor"""
    cursor.execute(query)
    #Lets create a list to fetch column names
    names=[]
    cursor.execute(''' Select * from Doctor''')
    #fetch column names and add it to the empty list "names"
    for x in cursor.description:
        names.append(x[0])

    df = pd.DataFrame(cursor.fetchall(),columns=names)
    print(df)
    #df = pd.DataFrame(cursor.fetchall())
    #print (df)
except sqlite3.Error as error:
    print("Error")

Database connected successfully

   DocID  DocName  HospitalID JoiningDate    Speciality Exp     salary
0      1  Michael         101  2005-02-10     Pediatric  10   900000.0
1      2    Linda         101  2007-08-08         Gyane   5   850000.0
2      3  William         102  2004-09-11  Cardialogist  11  1000000.0
3      4  Richard         101  2011-09-05     Pediatric  12   950000.0
4      5    Karen         103  2020-09-05    Oncologist  15  1100000.0
5      6   Robert         104  1998-09-04         Gyane  14   940000.0
6      7    Susan         105  1994-06-05    Oncologist  11   870000.0
7      8    Nancy         106  1994-06-05  Cardialogist  14   870000.0
8      9     Nick         107  2019-06-05  Cardialogist   9   770000.0

In [5]:
#Adding data to the Exisisitng file

import pandas as pd
import sqlite3
conn=sqlite3.connect("Hospitalinfo.db")
c = conn.cursor()

d={"DocID":[13,14],"DocName":["A","B"],"salary":[3400.6,5600.7],"Speciality":["hhh","hhh"],"HospitalID":["108","109"]}
df2=pd.DataFrame(d)

df2.to_sql('Doctor', conn, if_exists='append', index = False)

c.execute(''' Select * from Doctor''')

df = pd.DataFrame(c.fetchall(),columns=names)
print (df)

    DocID  DocName  HospitalID JoiningDate    Speciality   Exp     salary
0       1  Michael         101  2005-02-10     Pediatric    10   900000.0
1       2    Linda         101  2007-08-08         Gyane     5   850000.0
2       3  William         102  2004-09-11  Cardialogist    11  1000000.0
3       4  Richard         101  2011-09-05     Pediatric    12   950000.0
4       5    Karen         103  2020-09-05    Oncologist    15  1100000.0
5       6   Robert         104  1998-09-04         Gyane    14   940000.0
6       7    Susan         105  1994-06-05    Oncologist    11   870000.0
7       8    Nancy         106  1994-06-05  Cardialogist    14   870000.0
8       9     Nick         107  2019-06-05  Cardialogist     9   770000.0
9      13        A         108        None           hhh  None     3400.6
10     14        B         109        None           hhh  None     5600.7

In [6]:
#Adding data to the Exsistng file -Let's try with insert command

import pandas as pd
import sqlite3
conn=sqlite3.connect("Hospitalinfo.db")
c = conn.cursor()

sqlquery="""   insert into Doctor values(15,"Olivier","110",'', '', '', 3455)      """

c.execute(sqlquery)

#Committing is very important after insert command otherwise it will not show the result on database

conn.commit()

print("Record inserted succesfully")

c.execute(''' Select * from Doctor''')

# Close the cursor and the connection

df = pd.DataFrame(c.fetchall(),columns=names)
print (df)

Record inserted succesfully
    DocID  DocName  HospitalID JoiningDate    Speciality   Exp     salary
0       1  Michael         101  2005-02-10     Pediatric    10   900000.0
1       2    Linda         101  2007-08-08         Gyane     5   850000.0
2       3  William         102  2004-09-11  Cardialogist    11  1000000.0
3       4  Richard         101  2011-09-05     Pediatric    12   950000.0
4       5    Karen         103  2020-09-05    Oncologist    15  1100000.0
5       6   Robert         104  1998-09-04         Gyane    14   940000.0
6       7    Susan         105  1994-06-05    Oncologist    11   870000.0
7       8    Nancy         106  1994-06-05  Cardialogist    14   870000.0
8       9     Nick         107  2019-06-05  Cardialogist     9   770000.0
9      13        A         108        None           hhh  None     3400.6
10     14        B         109        None           hhh  None     5600.7
11     15  Olivier         110                                     3455.0

In [7]:
#Let's learn to update now?

import pandas as pd
import sqlite3
conn=sqlite3.connect("Hospitalinfo.db")
c = conn.cursor()

Name= input("Enter the name of the person for whom you wish to change the salary: ")
Salary=input("Enter the salary:")

sqlquery="""  update Doctor set salary=? where DocName=?      """
data=(Salary,Name )

c.execute(sqlquery,data)

#Committing is very important after insert command otherwise it will not show the result on database

conn.commit()

print("Record updated succesfully")

c.execute(''' Select * from Doctor''')

df = pd.DataFrame(c.fetchall(),columns=names)
print (df)

Enter the name of the person for whom you wish to change the salary: A
Enter the salary:1
Record updated succesfully
    DocID  DocName  HospitalID JoiningDate    Speciality   Exp     salary
0       1  Michael         101  2005-02-10     Pediatric    10   900000.0
1       2    Linda         101  2007-08-08         Gyane     5   850000.0
2       3  William         102  2004-09-11  Cardialogist    11  1000000.0
3       4  Richard         101  2011-09-05     Pediatric    12   950000.0
4       5    Karen         103  2020-09-05    Oncologist    15  1100000.0
5       6   Robert         104  1998-09-04         Gyane    14   940000.0
6       7    Susan         105  1994-06-05    Oncologist    11   870000.0
7       8    Nancy         106  1994-06-05  Cardialogist    14   870000.0
8       9     Nick         107  2019-06-05  Cardialogist     9   770000.0
9      13        A         108        None           hhh  None        1.0
10     14        B         109        None           hhh  None     5600.7
11     15  Olivier         110                                     3455.0

In [8]:
#Let's learn to delete now...

import pandas as pd
import sqlite3
conn=sqlite3.connect("Hospitalinfo.db")
c = conn.cursor()

#idd= input("Enter the Eid of the person: ")

sqlquery="""  Delete from Doctor where DocID=1  """
#data=(idd)

c.execute(sqlquery)

#Committing is very important after insert command otherwise it will not show the result on database

conn.commit()

print("Record updated succesfully")

c.execute(''' Select * from Doctor''')

df = pd.DataFrame(c.fetchall(),columns=names)
print (df)

Record updated succesfully
    DocID  DocName  HospitalID JoiningDate    Speciality   Exp     salary
0       2    Linda         101  2007-08-08         Gyane     5   850000.0
1       3  William         102  2004-09-11  Cardialogist    11  1000000.0
2       4  Richard         101  2011-09-05     Pediatric    12   950000.0
3       5    Karen         103  2020-09-05    Oncologist    15  1100000.0
4       6   Robert         104  1998-09-04         Gyane    14   940000.0
5       7    Susan         105  1994-06-05    Oncologist    11   870000.0
6       8    Nancy         106  1994-06-05  Cardialogist    14   870000.0
7       9     Nick         107  2019-06-05  Cardialogist     9   770000.0
8      13        A         108        None           hhh  None        1.0
9      14        B         109        None           hhh  None     5600.7
10     15  Olivier         110                                     3455.0

In [9]:
#How about creating a new table?  Want to try? lets do it

try:
    sqlconnection=sqlite3.connect("Hospitalinfo.db")
    cursor=sqlconnection.cursor()
    print("Database connected successfully")
    query="""Create table Projects (PID int PRIMARY KEY, Pname Text, PManager Text); """
    cursor.execute(query)
    sqlconnection.commit()
    print("Table created succesfully")
except sqlite3.Error as error:
    print("Error")
finally:
    sqlconnection.close()

Database connected successfully
Table created succesfully

In [10]:
#Heard about Executemany() .... leaving it for you to explore