<a href="https://colab.research.google.com/github/Mintu-Vipin/NPowerCanada_JuniorDataAnalyst/blob/main/Course7Week1_Importing_exporting_activit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1) Download cities.csv in C7W1 Activity folder
# 2) Import the CSV in a dataframe
import pandas as pd
df = pd.read_csv('cities.csv')
# print(df.head())

# 3) Add a column to the dataframe
df['NewColumn'] = None
# print(df.head())

# 4) Perform describe and info on dataframe
print(df.describe(include ='all'),'\n\n')
print(df.info)
# 5) Export and save this data as cities1.csv
df.to_csv('cities1.csv')

              LatD      "LatM"      "LatS"  "NS"      "LonD"      "LonM"  \
count   128.000000  128.000000  128.000000   128  128.000000  128.000000
unique         NaN         NaN         NaN     1         NaN         NaN
top            NaN         NaN         NaN   "N"         NaN         NaN
freq           NaN         NaN         NaN   128         NaN         NaN
mean     38.820312   30.765625   27.492188   NaN   93.250000   27.742188
std       5.200596   16.426158   18.977814   NaN   15.466499   16.927937
min      26.000000    1.000000    0.000000   NaN   71.000000    0.000000
25%      35.000000   16.000000   11.000000   NaN   80.000000   14.000000
50%      39.000000   31.000000   24.000000   NaN   89.500000   26.500000
75%      42.250000   45.000000   47.000000   NaN  103.250000   40.250000
max      50.000000   59.000000   59.000000   NaN  123.000000   58.000000

            "LonS"  "EW"          "City"  "State" NewColumn
count   128.000000   128             128      128         0
unique         NaN     1             120       47         0
top            NaN   "W"   "Springfield"       CA       NaN
freq           NaN   128               4       12       NaN
mean     26.960938   NaN             NaN      NaN       NaN
std      18.727807   NaN             NaN      NaN       NaN
min       0.000000   NaN             NaN      NaN       NaN
25%      11.000000   NaN             NaN      NaN       NaN
50%      23.500000   NaN             NaN      NaN       NaN
75%      47.000000   NaN             NaN      NaN       NaN
max      59.000000   NaN             NaN      NaN       NaN


<bound method DataFrame.info of      LatD   "LatM"   "LatS"  "NS"   "LonD"   "LonM"   "LonS"  "EW"  \
0      41        5       59   "N"       80       39        0   "W"
1      42       52       48   "N"       97       23       23   "W"
2      46       35       59   "N"      120       30       36   "W"
3      42       16       12   "N"       71       48        0   "W"
4      43       37       48   "N"       89       46       11   "W"
..    ...      ...      ...   ...      ...      ...      ...   ...
123    39       31       12   "N"      119       48       35   "W"
124    50       25       11   "N"      104       39        0   "W"
125    40       10       48   "N"      122       14       23   "W"
126    40       19       48   "N"       75       55       48   "W"
127    41        9       35   "N"       81       14       23   "W"

                 "City"  "State" NewColumn
0          "Youngstown"       OH      None
1             "Yankton"       SD      None
2              "Yakima"       WA      None
3           "Worcester"       MA      None
4     "Wisconsin Dells"       WI      None
..                  ...      ...       ...
123              "Reno"       NV      None
124            "Regina"       SA      None
125         "Red Bluff"       CA      None
126           "Reading"       PA      None
127           "Ravenna"      OH       None

[128 rows x 11 columns]>

In [24]:
# 1) Download CarSalesByModelStart.xlsx in C7W1 Activity folder
# 2) Import xlsx in a dataframe
df1= pd.read_excel('CarSalesByModelStart.xlsx')
# print(df1.head())

# 3) Add a column to the dataframe
df1['NewColumn1'] =None
# print(df1.head())

# 4) Perform describe and info on dataframe
print(df1.describe(include ='all'),'\n\n')
print(df1.info)

# 5) Export and save this data as CarSalesByModelStart1.xlsx
df.to_excel('CarSalesByModelStart1.xlsx')

               Year    Month                 Date     Model    Dealer ID  \
count   1200.000000     1200                 1200      1200  1200.000000
unique          NaN       12                   24         5          NaN
top             NaN  January  2018-01-01 23:00:00  Beaufort          NaN
freq            NaN      100                   50       240          NaN
first           NaN      NaN  2018-01-01 23:00:00       NaN          NaN
last            NaN      NaN  2019-12-01 23:00:00       NaN          NaN
mean    2018.500000      NaN                  NaN       NaN  1281.800000
std        0.500208      NaN                  NaN       NaN    72.453672
min     2018.000000      NaN                  NaN       NaN  1212.000000
25%     2018.000000      NaN                  NaN       NaN  1217.000000
50%     2018.500000      NaN                  NaN       NaN  1256.000000
75%     2019.000000      NaN                  NaN       NaN  1336.000000
max     2019.000000      NaN                  NaN       NaN  1402.000000

        Quantity Sold        Profit NewColumn1
count      1200.00000   1200.000000          0
unique            NaN           NaN          0
top               NaN           NaN        NaN
freq              NaN           NaN        NaN
first             NaN           NaN        NaN
last              NaN           NaN        NaN
mean         17.99750  24974.055208        NaN
std           9.97432  17370.750612        NaN
min           2.00000   4600.000000        NaN
25%          11.00000  13500.000000        NaN
50%          18.00000  18500.000000        NaN
75%          24.00000  28922.812500        NaN
max          48.00000  83875.000000        NaN


<bound method DataFrame.info of       Year     Month                Date      Model  Dealer ID  Quantity Sold  \
0     2018   January 2018-01-01 23:00:00   Beaufort       1222             10
1     2018   January 2018-01-01 23:00:00     Salish       1222             13
2     2018   January 2018-01-01 23:00:00   Labrador       1222             16
3     2018   January 2018-01-01 23:00:00  Champlain       1222              3
4     2018   January 2018-01-01 23:00:00     Hudson       1222             22
...    ...       ...                 ...        ...        ...            ...
1195  2019  December 2019-12-01 23:00:00   Beaufort       1288             12
1196  2019  December 2019-12-01 23:00:00     Salish       1288             14
1197  2019  December 2019-12-01 23:00:00   Labrador       1288             18
1198  2019  December 2019-12-01 23:00:00  Champlain       1288              4
1199  2019  December 2019-12-01 23:00:00     Hudson       1288             25

       Profit NewColumn1
0     15000.0       None
1     39650.0       None
2     12800.0       None
3      6900.0       None
4     11000.0       None
...       ...        ...
1195  18000.0       None
1196  42700.0       None
1197  14400.0       None
1198   9200.0       None
1199  12500.0       None

[1200 rows x 8 columns]>

<ipython-input-24-ef343391b80d>:11: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(df1.describe(include ='all'),'\n\n')

In [33]:
# 1) Download Jay.json in C7W1 Activity folder
# 2) Import the Json in dataframe
df2= pd.read_json('Jay (1).json')
# print(df2.head())

# 3) Add a column to the dataframe
df2['NewColumn2'] =None
# print(df2.head())

# 4) Perform describe and info on dataframe
print(df2.describe(include ='all'),'\n\n')
print(df2.info)

# 5) Export and save this data as Jay1.json
df.to_json('Jay1.json')

          Duration       Pulse    Maxpulse     Calories NewColumn2
count   169.000000  169.000000  169.000000   164.000000          0
unique         NaN         NaN         NaN          NaN          0
top            NaN         NaN         NaN          NaN        NaN
freq           NaN         NaN         NaN          NaN        NaN
mean     63.846154  107.461538  134.047337   375.800000        NaN
std      42.299949   14.510259   16.450434   266.377134        NaN
min      15.000000   80.000000  100.000000    50.300000        NaN
25%      45.000000  100.000000  124.000000   250.925000        NaN
50%      60.000000  105.000000  131.000000   318.600000        NaN
75%      60.000000  111.000000  141.000000   387.600000        NaN
max     300.000000  159.000000  184.000000  1860.400000        NaN


<bound method DataFrame.info of      Duration  Pulse  Maxpulse  Calories NewColumn2
0          60    110       130     409.1       None
1          60    117       145     479.0       None
2          60    103       135     340.0       None
3          45    109       175     282.4       None
4          45    117       148     406.0       None
..        ...    ...       ...       ...        ...
164        60    105       140     290.8       None
165        60    110       145     300.4       None
166        60    115       145     310.2       None
167        75    120       150     320.4       None
168        75    125       150     330.4       None

[169 rows x 5 columns]>